#count {
  font-weight: bold;
  text-align: right;
  margin-left: 10px;
}

#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: cover;
  background-position: center;
}
